.container{
    border:2px solid black
}


.row{
    border: 2px solid brown;
}
.col-4{
    border: 2px solid darkviolet;
    /* background-color: blue */
}
.nav ul{
    display: flex;
    margin-bottom: 0;
    padding: 0;
}
.nav ul li{
    list-style: none;
    /* padding:-10px; */
    margin-right: 10px;
}

